@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

/* Leaflet map styles */
.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

/* Loading bar animation */
@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(350%); }
}

